<h1>{{title}}</h1>
<p>Welcome to 2 Day Away{{title}}</p>


{{!-- {{#if user}} --}}
<a href="/day1">Find out where your next Adventure begins</a>
{{!-- {{else}}
<a href="Authentication/sign-up">Find out where your next Adventure begins</a>
{{/if}} --}}