<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <nav>
   <a href="/">Homepage</a>
   <a href="/sign-up">Sign-Up</a>
   <a href="/login">Login</a>
   <a href="/reviews">Reviews</a>
   <a href="">Logout</a>
  </nav>
  <body>
    {{{body}}}
  </body>
  <footer>
    {{!-- username will be replaced with the logged in user name --}}
   <a href="/user">{{User.username}}'s Profile</a> 
  </footer>
</html>
