<body class="trip-selection">
  <div class="container-fluid">
    <form class="tripSelectionForm" action="/tripSelection" method="POST">
      <label for="input-travelingFrom">Where will you be Traveling from:</label>
      <input type="text" id="input-travelingFrom" name="travelingFrom" placeholder="Enter the city of your departure" />
      <button class="btn btn-custom">Find out where your next Adventure begins</button>
      {{#if city}}
      <strong> {{city.city_name}}</strong>
      <a class="btn-itinerary" href="/day1/{{city._id}}">Go to itinerary</a>
      {{/if}}
    </form>




    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
  </div>
</body>