<body class="about-background">
 
<div class="jumbotron">
  <h1 class="display-4">About</h1>
  <p class="lead">Welcome to Two Days Away. Our mission is to make your weekend getaway effortless and fun</p>
  <hr class="my-4">
  <p>With the current busy lives we live it can be nice to runaway for a weekend and explore a new place. However deciding where to go and what to do can often be quite demotivating. This is where we come in. Two Days Away App will choose a location at random for you and deliver a perfect 2 day itinerary so all that's left to do is pack your bags and get that plane ticket.
      Adventure Awaits!
  </p>
  <p>This app was developed in the context of Ironhack Web Development Boothcamp for Project 2.</p>
  <a class="btn btn-custom btn-lg" href="/login" role="button">Let's begin?</a>
</div>

</body>