{{!-- <h1>{{title}}</h1>
<p>Welcome to 2 Day Away{{title}}</p> --}}


<body id="homepage-background">
  <div class="container-fluid homepage">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
          <img
            src="https://res.cloudinary.com/nena/image/upload/q_20/v1574876097/ProjectTwo-EleniAndMaria/carousel/ethan-robertson-SYx3UCHZJlo-unsplash_vwx3rn.jpg"
            class="d-block w-100" alt="scenery image">
          <div class="carousel-caption d-none d-md-block">
            <h1>Welcome to Two Days Away</h1>
            <h3>Enjoy your weekend getaway and leave all the planning to us!</h3>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <img
            src="https://res.cloudinary.com/nena/image/upload/q_20/v1574876099/ProjectTwo-EleniAndMaria/carousel/matthew-fournier-ycv7guIlR9c-unsplash_tmgwgb.jpg"
            class="d-block w-100" alt="scenery image">
        </div>
        <div class="carousel-item" data-interval="2000">
          <img
            src="https://res.cloudinary.com/nena/image/upload/q_20/v1574876098/ProjectTwo-EleniAndMaria/carousel/kevia-tan-uHAX3JgDyPE-unsplash_v8xul4.jpg"
            class="d-block w-100" alt="scenery image">
          <div class="carousel-caption d-none d-md-block">
            <h1>Traveling through history...</h1>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <img
            src="https://res.cloudinary.com/nena/image/upload/q_20/v1574876098/ProjectTwo-EleniAndMaria/carousel/frank-mckenna-OD9EOzfSOh0-unsplash_fbikuc.jpg"
            class="d-block w-100" alt="scenery image">
          <div class="carousel-caption d-none d-md-block">
            <h1>Dreamy destinations...</h1>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <img
            src="https://res.cloudinary.com/nena/image/upload/q_20/v1574876097/ProjectTwo-EleniAndMaria/carousel/yash-raut-z_zFPGX90mc-unsplash_fsfa9d.jpg"
            class="d-block w-100" alt="scenery image">
          <div id="dark-background-image" class="carousel-caption d-none d-md-block">
            <h1>Unforgetable experiences...</h1>
          </div>
        </div>
      </div>
    </div>
  </div>



  {{#if user}}
  <a class="homepage-link" href="/tripSelection">Begin your Adventure!</a>
  {{else}}
  <a class="homepage-link" href="/login">Find out where your next Adventure begins</a>
  {{/if}}

</body>