$font-sans: "Baskervville",
serif;
$primary: ghostwhite;
// #93CFAB #EFFCF4;
// #AFE1C3

//Layout styling

html,
body {
  height: 100%vh;
  width: 100%vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-sans;
  color: #2c342f;
  background-color: #effcf4;
}

.nav-item.username {
  font-weight: bold;
  color: #93cfab;
}

//Navbar styling
ul {
  list-style-type: none;
}

//Login Styling

#login-background {
  background: url("../images/amadeusz_misiak_oxqt_FqslC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // width: 100%;
  height: 100vh;

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid;
    max-width: 100%;
    width: 370px;
    padding: 30px 40px;
    margin-top: 3vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
  }

  .login-form input {
    margin: 5px;
  }

  .login-form h1 {
    color: #93cfab;
    text-shadow: 2px 2px #2c342f;
    font-weight: 900;
  }

  .login-form a {
    text-decoration: none;
    color: cornsilk;
  }

  .login-form p {
    color: beige;

    text-decoration-color: #93cfab;
  }

  .btn-custom {
    margin-bottom: 15px;
    background: #93cfab;
    border-color: #93cfab;
    color: #2c342f;
    font-weight: bold;
  }

  .btn-custom:hover {
    background: #afe1c3;
    border-color: #afe1c3;
  }
}

//Sign.up Styling

#signup-background {
  background: url("../images/marc_zimmer_kep_zo_w_CPaBQ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid;
    max-width: 100%;
    width: 370px;
    padding: 30px 40px;
    margin-top: 5vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
  }

  .signup-container input {
    margin: 8px;
  }

  .signup-container h1 {
    margin-top: 45px;
    color: #93cfab;
    text-shadow: 2px 2px #2c342f;
    font-weight: 900;
  }

  .signup-container a {
    text-decoration: none;
    color: cornsilk;
  }

  .signup-container p {
    color: beige;
  }

  .btn-custom {
    margin-bottom: 15px;
    background: #93cfab;
    border-color: #93cfab;
    color: 2c342f;
    font-weight: bold;
  }

  .btn-custom:hover {
    background: #afe1c3;
    border-color: #afe1c3;
  }

  .error-message {
    color: cornsilk;
  }
}

//User Profile

.user-profile {
  .btn-custom {
    margin-bottom: 15px;
    background: #93cfab;
    border-color: #93cfab;
  }

  .btn-custom:hover {
    background: #afe1c3;
    border-color: #afe1c3;
  }
}

//posts styling
.create-post {
  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea,
  button {
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    font: inherit;
    color: inherit;
    border: 0;
  }

  input,
  textarea {
    border: 1px solid grey;
  }

  textarea {
    min-height: 8em;
    resize: vertical;
  }

  .btn-custom {
    margin-bottom: 15px;
    background: #93cfab;
    border-color: #93cfab;
  }

  .btn-custom:hover {
    background: #afe1c3;
    border-color: #afe1c3;
  }
}

.single-post {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  border: 1px solid grey;
  background-color: white;

  // box-shadow: 0 0.25em 0.75em -0.25em $grey;
  img {
    margin-bottom: 1em;
    max-width: 30%;
    width: 30%;
  }
}

.partial {
  .btn-custom {
    margin-bottom: 15px;
    background: #93cfab;
    border-color: #93cfab;
  }

  .btn-custom:hover {
    background: #afe1c3;
    border-color: #afe1c3;
  }
}

.edit-post {
  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea,
  button {
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    font: inherit;
    color: inherit;
    border: 0;
  }

  input,
  textarea {
    border: 1px solid grey;
  }

  textarea {
    min-height: 8em;
    resize: vertical;
  }

  .btn-custom {
    margin-bottom: 15px;
    background: #93cfab;
    border-color: #93cfab;
  }

  .btn-custom:hover {
    background: #afe1c3;
    border-color: #afe1c3;
  }
}

// Trip Selection Page

.trip-selection {
  // TARGETING THE BODY TAG
  background: url("../images/tracks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .tripSelectionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    width: calc(30em-4em);
    padding: 2em;
    margin: 8em auto;
  }

  strong {
    font-size: 2em;
    text-shadow: 1px 1px #93cfab;
  }

  label {
    font-weight: 700;
  }

  #input-travelingFrom {
    margin: 10px;
    min-height: 3em;
    resize: vertical;
    width: 15em;
  }

  .btn-custom {
    margin: 20px;
    margin-bottom: 15px;
    background: #93cfab;
    border-color: #93cfab;
  }

  .btn-custom:hover {
    background: #afe1c3;
    border-color: #afe1c3;
  }

  .btn-itinerary {
    margin: 20px;
    padding: 0.5em;
    border-radius: 0.25em;
    background: #93cfab;
    border-color: #93cfab;
    text-decoration: none;
    font-weight: 700;
    color: black;
  }

  .btn-itinerary:hover {
    background: #afe1c3;
    border-color: #afe1c3;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $primary;
}

.myBtn {
  color: $primary;
  border-color: $primary;
}

.myBtn:hover {
  background: #afe1c3;
  border-color: #93cfab;
}

//Day1 styling
.ItineraryDay {
  margin-bottom: 2em;

  .row {
    padding: 1em 0;
  }

  .view {
    display: flex;
    align-content: center;
    height: 15.5em;
    background-color: black;
  }

  .last-link {
    display: flex;
    align-content: center;
    margin-top: 1em;

  }

  .last-link a {
    margin: 0 auto;
    background: #93cfab;
    border-color: #93cfab;
    border-radius: 0.25em;
    text-decoration: none;
    color: #2c342f;
    font-weight: bold;
    padding: 0.5em;

  }

  .last-link:hover a {
    background: #afe1c3;
    border-color: #afe1c3;
  }


  .container-fluid {
    margin-bottom: 2.5rem;
  }

  .title {
    text-align: center;
    margin: 0 1.5rem;
    text-shadow: 1px 1px grey;
  }

  .day {
    font-weight: bold;
  }
}


//carousel homepage

#carouselExampleSlidesOnly {
  margin: 0 0;
}

.carousel-inner {
  height: 93vh;
  background-color: #2c342f;
}

.carousel-caption {
  bottom: 5em;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px #2c342f;
}

#firstSlide {
  top: 3em;
  bottom: auto;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #2c342f;
}

#dark-background-image {
  font-weight: 1500;
  color: bisque;
  text-shadow: 2px 2px #2c342f;
}

.homepage-link {
  background: #93cfab;
  border-color: #93cfab;
  border-radius: 0.25em;
  text-decoration: none;
  color: #2c342f;
  font-weight: bold;
  padding: 0.5em;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
}

.homepage-link:hover {
  background: #afe1c3;
  border-color: #afe1c3;
  text-decoration: none;
  color: #2c342f;
}

@media (max-width: 767px) {

  .column-1,
  .column-2 {
    width: 100%;
  }

  .homepage-link {
    bottom: 40vh;
  }



}

// @media (min-width: 768px) and (max-width: 991px) {
//   .column-1 {
//     width: 50%;
//   }

//   .column-2 {
//     width: 100%;
//   }
// }

@media (min-width: 768px) {

  .column-2,
  .column-1 {
    width: 33%;
  }

  .homepage-link {
    font-size: large;
  }

  #signup-background .signup-container {
    margin-top: 29vh;

  }

  #login-background .login-form {
    margin-top: 16vh;
  }

  .signup-container h1 {
    color: peachpuff
  }
}

.about-background {
  background: #e9ecef;
}

.jumbotron {
  .btn-custom {
    margin: 20px;
    margin-bottom: 15px;
    background: #93cfab;
    border-color: #93cfab;
  }

  .btn-custom:hover {
    background: #afe1c3;
    border-color: #afe1c3;
  }
}