<form action="/tripSelection" method="POST">
  <label for="input-travelingFrom">Where will you be Traveling from:</label>
  <input type="text" id="input-travelingFrom" name="travelingFrom" placeholder="Enter the city of your departure" />
  <button>Find out where your next Adventure begins</button>
</form>

{{city.city_name}}

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}