<form action="/tripSelection" method="POST">
  <label for="input-travelingFrom">Where will you be Traveling from:</label>
  <input type="text" id="input-travelingFrom" name="travelingFrom" placeholder="Enter the city of your departure" />
  <button>Find out where your next Adventure begins</button>
</form>

{{#if city}}
{{city.city_name}}
<a href="/day1/{{city._id}}">Go to itinerary</a>
{{/if}}



{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}